*{ 
  box-sizing: border-box;
}

body {
  --bc: #fb8;
  --faq-color: #fff;
  font-family: sans-serif;

  background-color: var(--bc);
}

body, div, ul, li, a, h1, h2, p {
  margin: 0;
  padding: 0;
}

.faq {
  margin: auto;
  max-width: clamp( 300px, 90%, 900px)
}

details{
  background-color: var(--faq-color);
  margin: 6px;
  padding: 7px;
  max-height: 40px;
  transition: max-height 1s;
  overflow: hidden;
}

details[open] {
  max-height: 400px;
}

details[open] .content {
  animation: aparecer 1s both;
}

.faq summary {
  font-size: 1.1rem;
  user-select: none;
  position: relative;
}

.content {
  margin: 5px 10px 0 10px;
  padding:  5px 10px;
  border-top: 1px solid var(--bc);
  font-size: .9rem;
}

@keyframes aparecer {
  from {
    opacity: 0;
    translate: 0 -5px
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}

b {
  background-color: var(--bc);
  color: var(--faq-color);
  padding: 1px 3px;
}

summary::marker {
  content: '';
}

summary::before {
  content: '+';
  right: 0;
  position: absolute;
  color: var(--bc);
  font-weight: 700;
}

details[open] summary::before {
  content: '-';
}