body {
  margin: 0;
  font-family: sans-serif;
}

div, body {
  box-sizing: border-box;
}

@media (max-width: 800px){
  .media {
    font-size: 30px;
    background-color: #eee;
  }
}

.hola {
  container-type: inline-size;
  container-name: hola;
  color: #f00;
  width: 100%;
}

@container hola (max-width: 800px){
  p{
    font-size: 30px;
    background-color: #eee;
  }
}