* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #111;
  color: #ccc;
}

a, div, ul, nav, header, footer, a, li, label {
  margin: 0;
  padding: 0;
}