* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #111;
  color: #ccc;
}

a, div, ul, nav, header, footer, a, li, label, body {
  margin: 0;
  padding: 0;
}

/* header */

header {
  background-color: #eb1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__logo {
  width: 64px;
}

.header__checkbox {
  display: none;
}

.header__open-nav-button {
  color: #111;
}