* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #ddd;
  color: #eb1;
}

a, div, ul, nav, header, footer, a, li, label, body {
  margin: 0;
  padding: 0;
}

/* header */

header {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  container-name: header;
}

.header__logo, .header__open-nav-button {
  margin: 0 30px;
}

.header__logo img {
  max-width: 100%;
  height: auto;
}

.header__logo {
  width: 64px;
}

.header__nav {
  display: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.header__nav-list {
  display: flex;
  height: 70vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  color: #eb1;
}



.header__checkbox:checked ~ .header__nav {
  display: flex;
}

.header__checkbox {
  opacity: 0; 
}

.header__open-nav-button {
  font-size: 40px;
}

.header__nav-item {
  list-style: none;
}

.header__nav-item a {
  color: #eb1;
}

.header__nav-item a:not(:hover){
  text-decoration: none;
}

@container header ( min-width: 600px){
  .header__nav {
    display: block;
    position: static;
    height: auto;
    width: auto;
    z-index: 1;
  }

  .header__nav-list {
    height: auto;
    width: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    gap: 30px;
    margin-right: 40px;
  }

  .header__open-nav-button {
    display: none;
  }
}