* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

.box {
  margin: 20px;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 39px;
}

.barra {
  padding: 40px;
  background-color: #48e;
  border-radius: 30px;
  width: 10%;
  animation-name: llenar-barra;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 4;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-play-state: paused;
}

.barra:active {
  animation-play-state:running;
}

@keyframes llenar-barra {
  from {
    width: 10%;
    background-color: #0f0;
  }
  to {
    width: 100%;
    background-color: #f00;
  }
}