* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ccc;
}

.agrandador {
  height: 100vh;
}

.box {
  view-timeline: --cajita;
  border-color: #48e;
  animation: llenar-barra linear both;
  animation-timeline: --cajita;
  animation-range-start: contain 0%;
  animation-range-end: contain 100%;

  padding: 20px;
}

@keyframes llenar-barra {
  from {
    width: 0%;
    background-color: #0f0;
  }
  to {
    width: 100%;
    background-color: #f00;
  }
}