* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ccc;
  height: 200vh;
}

.container {
  height: 50vh;
  scroll-timeline: asignado;
  overflow-y: scroll;
}

.box {
  margin: 20px;
  padding: 8px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 39px;
  position: fixed;
  width: 90%;
}

.barra {
  padding: 40px;
  background-color: #48e;
  border-radius: 30px;
  width: 10%;
  animation: llenar-barra;
  animation-timeline: asignado;
}

@keyframes llenar-barra {
  from {
    width: 10%;
    background-color: #0f0;
  }
  to {
    width: 100%;
    background-color: #f00;
  }
}