body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #eee;
}

.main-wrapper, header, footer {
  width: 100%;
}

div, body, header, ul, footer {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* header */

.header {
  background-color: #fcf7c5;
  
}

ul {
  padding: 0;
  justify-content: center;
}

.main-navbar ul {
  display: flex;
}

li {
  list-style: none;
}

.main-navbar li {
  margin: 4px;
}

.main-navbar a {
  color: #13747d;
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 6px 10px;
}

a:hover{
  border-radius: 10px;
  background-color: #13747d17;
}

/* main section */

.main-wrapper {
  display: flex;
  gap: 7px;
  flex-grow: 1;
  max-width: 1024px;
}

.main-wrapper aside {
  flex-grow: 2;
}

main {
  flex-grow: 1;
}

.secondary-navbar {
  text-align: center;
}

aside, main {
  padding: 10px 30px;
  background-color: #fff;
}

.secondary-navbar a {
  color: #29221f; 
  display: inline-block;
  padding: 10px 0;
}

/* footer */

 footer {
  margin-top: auto;
  background-color: #29221f;
  color: #fcf7c5;
  padding: 40px;
  font-weight: bold;
  text-align: center;
 }

 /* responsive */

 @media screen and (max-width: 650px){
  .main-wrapper{
    flex-direction: column;
  }
 }