*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #222;
  font-family: sans-serif;
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  margin: auto;
  filter: drop-shadow( 0 0 12px #fff);
}

.text{
  color: #fff;
  font-size: 40px;
  letter-spacing: 6px;
  animation: grow 1.5s steps(12);
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.text::selection{
  background-color: transparent;
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.text::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #fff7;
  position: absolute;
  right: 0;
  border-radius: 4px;
  animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  } 
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  } 
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}