* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

.box {
  background-color: #ddd;
  height: 300px;
  width: 300px;
  margin: auto;
  filter: hue-rotate(100deg);

}

img {
  width: 100%;
  height: 100%;
}