body {
  margin: 0;
  background-color: gold;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* header section */

header {
  background-image: url(../../../../imagenes/cadenas-fondo.jpg);
  box-sizing: border-box;
  min-height: 100vh;
  background-size: cover;
  color: gold;
  display: flex;
}
.overlay {
  box-sizing: border-box;
  background-color: #000a;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}

.header-content p {
  text-wrap: pretty;
}

.header-content img {
  min-width: 200px;
  max-width: 30%;
  border-radius: 150%;
  border: solid gold 6px;
  margin: 50px;
}

.header-content {
  position: relative;
  z-index: 10;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  max-width: 700px;
  bottom: 10%;
}

h1 {
  margin: 0;
  font-size: 50px;
}

/* nav section */

nav {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;

}

nav img {
  width: 55px;
 
}

.nav__lista {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__ul-contenedor {
  flex-grow: 4;
}

.contenedor__imagen {
  flex-grow: 1;
}

.nav__link {
  color: gold;
  padding: 12px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

.nav__link:hover {
  border-radius: 30px;
  background-color: rgba(255, 215, 0, 0.2);
}

.nav__item {
  list-style: none;
}

.nav--login {
  background-color: gold;
  color: #000;
  border-radius: 30px;
  padding: 12px 28px;
}

.nav--login:hover {
  background-color: rgba(255, 215, 0, 0.7);
}