* {
  box-sizing: border-box;
}

body, div, ul, li, a, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  --bc: #f96;
  --dark-color: #f62;
  
  background-image: url(../../imagenes/fondo-smoke.gif);
  height: 200dvh;
  background-position: center;
  background-size: cover;

}

header {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
}

img {
  filter: grayscale();
  mix-blend-mode: screen;
  position: fixed;
  top: 0;
  animation: aparecer-img;
  animation-timeline: scroll();
  height: 100%;
  min-height: 80dvh;
}

.text-container {
  position: fixed;
  top: 0;
  min-height: 100dvh;
  display: flex;
  font-size: clamp( 1rem, 8dvw, 10rem);
  color: #ccc;
  mix-blend-mode:difference;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
  animation: aparecer-texto scroll();
}

.left {
  color: #48e;
}

@keyframes aparecer-imh {
  0% {
    opacity: 0;
    scale: 0.7;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes aparecer-texto {
  0% {
    scale: 2;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

